@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    --body: rgb(4, 28, 44);
    --blue: rgb(8, 80, 161);
    --green: rgb(24, 136, 56);
    --beige: rgb(242, 236, 231);
  
  }
  
  html,
  body {
    color: var(--body);
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 18px !important;
      line-height: 28px !important;
    }
  }
  
  .logo {
    width: 250px;
    align-self: center;
  }
  
  
  .slightlylimitwidth,
  .limitwidth,
  #innershell,
  .customPlugin>.inner {
    max-width: none;
  }
  
  #content {
    @apply !pt-0
  }
  
  #headerbordertop {
    height: initial;
  }
  
  .card-col {
    margin: 2rem;
    border: 3px solid rgb(140, 224, 170);
    border-radius: 8px;
    padding: 2rem;
  }
  
  .menu.desktop.upper .inner {
    @apply flex max-w-none gap-10;
  
    .nav-pills {
      @apply ml-auto float-none mt-0
    }
  }
  .outershell {
    .banner-button {
      @apply !text-white;
      &:hover {
        @apply !text-white;
      }
    }
  }
  
  /* Header */
  #header {
    @apply flex items-center;
     > .limitwidth {
      @apply w-full;
     }
    
    h1 {
      @apply hidden;
    }
    .headersubmenu {
      @apply w-auto ml-auto;
      .limitwidth {
        @apply max-w-fit
       }
    }
    
  }
  #headerbordertop, #skip {
    @apply hidden
  }

  /* Search results*/
  .job-tile-result-container {
    @apply !bg-slate-100 flex flex-col;
  }
  .job-list {
    @apply !pl-0 !mt-0
  }
  #tile-search-results-label {
    @apply text-center
  }