:root {
  --color-light: #fdfaed;
  --color-dark: #3e1c0a;
  --color-body: rgb(4, 28, 44);
  --color-blue: rgb(8, 80, 161);
  --color-green: rgb(24, 136, 56);
  --color-beige: rgb(242, 236, 231);
}

html,
body {
  font-size: 16px;
  color: var(--color-body);
}

/* Layout */
.outershell {
}

#header {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  max-width: none;
  .limitwidth {
    max-width: none;
  }
  .menu {
    padding: 0;
  }
  .inner {
    max-width: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .lower {
    padding: 0;
  }
  .logo {
    width: 249px;
  }
  .nav {
    float: none;
    margin: 0;
    li {
      font-size: 1rem;
    }
  }
  .headersubmenu {
    position: initial;
  }
}
#headerbordertop {
  display: none;
}

#category-header {
  display: none;
}

.headermain {
}

#innershell {
  max-width: none;
}
#content {
  padding-top: 0 !important;
}
#category-name {
  max-width: none;
}

#search-wrapper {
  margin-bottom: 0 !important;
  .searchwell {
    background-color: var(--color-blue);
  }
}

#actions {
  max-width: none;
}

#footer {
  .inner {
  }
  .social-links {
    display: none;
  }
  ul.links {
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    float: none;
    li {
      margin:0;
      border:none;
      padding:0;
    }
    a {
      font-size:16px
    }
  }
}

#search-results-header {
  th {
    width:auto;
  }
}

#footerRowBottom {
  text-align: center;
  padding:0;
  p {
    margin:0;
    padding:0;
  }
}
