:root {
  --color-light: #fdfaed;
  --color-dark: rgb(4, 28, 44);
  --color-body: rgb(4, 28, 44);
  --color-gray: rgb(149, 155, 158);
  --color-blue: rgb(8, 80, 161);
  --color-green: rgb(24, 136, 56);
  --color-beige: rgb(242, 236, 231);
}

html,
body {
  font-size: 16px;
  color: var(--color-body);
}

/* Layout */
.outershell {
}

#header {

  @media only screen and (min-width: 768px) {
    display: flex;
  }

  font-size: 16px;
  justify-content: space-between;
  align-items: center;
  max-width: none;

  padding: 12px;
  @media only screen and (min-width: 768px) {
    padding: 24px;
  }



  .mobile-nav {
    display: none;
  }
  .mobile-search {
    display: none;
  }
  #skip {
    display: none;
  }
  > .limitwidth {
    max-width: none;
    margin: 0;
    width: 100%;
  }
  .menu {
    padding: 0;
    .inner {
      max-width: none;
      padding: 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  .lower {
    padding: 0;
  }
  .logo {
    width: 249px;
  }
  .nav {
    float: none;
    margin: 0;
    li {
      font-size: 1rem;
    }
  }
  .headersubmenu {
    position: initial;
    width: auto;
  }
}
#headerbordertop {
  display: none;
}

#category-header {
  display: none;
}

.profileWidget {
  width: max-content;
}

.menu.desktop .nav > li {
  margin: 0;
}

#innershell {
  max-width: none;
}
#content {
  padding-top: 0 !important;
  > .inner > .hidden-phone {
    display: none;
  }
}
#category-name {
  max-width: none;
}

.keywordsearch-button {
  background-color: white !important;
}

body.coreCSB .btn.keywordsearch-button {
  color: var(--color-body) !important;
}

#body .outershell input[type='submit']:hover {
  color: var(--color-body) !important;
}

.keywordsearch-q {
  padding: 6px 12px;
}

#search-wrapper {
  margin-bottom: 0 !important;
  .searchwell {
    padding:48px 0;
    background-color: var(--color-blue);
  }
}
#savesearch-link {
  background-color: var(--color-green);
  padding: 0.5rem 1rem;
  color: white !important;
  border-radius: 4px !important;
}

#actions {
  max-width: none;
  background-color: var(--color-beige);
  .span6 {
    display: flex;
    justify-content: center;
  }
}
#savesearch-wrapper {
  margin-bottom: 0;
  padding: 0;
}

#footer {
  .inner {
  }
  .social-links {
    display: none !important;
  }
  ul.links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    @media only screen and (min-width: 768px) {
      gap: 2rem;
    }
    float: none;
    li {
      margin: 0;
      border: none;
      padding: 0;
    }
    a {
      font-size: 16px;
    }
  }
}

.jobDistance {
  display: none !important;
}

#search-results-header {
  th {
    width: auto;
  }
}

#footerRowTop {
  background-color: var(--color-dark);
  .links a {
    color: var(--color-gray) !important;
  }
}

#footerRowBottom {
  background-color: var(--color-blue);
  text-align: center;
  color: white !important;
  padding: 32px 24px;
  p {
    line-height: 1.5;
    margin: 0;
    padding: 0;
  }
}

.pagination-label-row {
  padding: 0;
  float: none;
  line-height: normal;
}

.pagination-well {
  padding: 0;
  min-height: auto;
}

input#frequencySpinBtn {
  width: auto !important;
  height: auto !important;
  padding: 6px 4px !important;

}
#job-table {
  padding: 0 16px;
}

.jobTitle {
  margin-bottom: 8px;
  @media only screen and (min-width: 768px) {
  margin-bottom: 0;
  }
}
.jobTitle-link {
  font-weight: bold;
  font-size:20px;
  &:hover {
    text-decoration: underline !important;
  }
}
.back-to-search-wrapper {
  display: none !important;
}

#labelFrequencySpinBtn {
  margin-bottom: 0;
}
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > thead > tr > th {
  padding: 16px 8px;
}

#search-results-header th a {
  color: #666 !important;
  font-weight: normal
}
