<section class="container py-16 lg:py-24 bg-gray-100">

    <div class="row text-center">
        <h2 class="text-7xl font-[custom8203f65f688e4202a9faa] mb-10">Our benfits</h2>
    </div>


    <div class="row gy-4 lg:flex">

        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-white p-10 h-full rounded-lg relative">
            <div class="icon">
              <i class="bi bi-activity"></i>
            </div>
            <h3 class="text-4xl font-[custom8203f65f688e4202a9faa] mb-5 ">Make a difference</h3>
            <p>We start by creating a set of brand guidelines and standards</p>
            
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-white p-10 h-full rounded-lg elative">
            <div class="icon">
              <i class="bi bi-broadcast"></i>
            </div>
            <h3 class="text-4xl font-[custom8203f65f688e4202a9faa] mb-5 ">Better together</h3>
            <p>Our award winning development team creates personalized digital experiences</p>
            
          </div>
        </div><!-- End Service Item -->

        <div class="col-lg-4 col-md-6">
          <div class="service-item bg-white p-10 h-full rounded-lg elative">
            <div class="icon">
              <i class="bi bi-easel"></i>
            </div>
            <h3 class="text-4xl font-[custom8203f65f688e4202a9faa] mb-5 ">Embrace possibilities</h3>
            <p>Our products are created on time, and to your exact specifications</p>
            
          </div>
        </div><!-- End Service Item -->


      </div>
</section>