<div class="jobDisplayShell" itemscope="itemscope" itemtype="http://schema.org/JobPosting"><span itemprop="jobLocation"
        itemscope itemtype="http://schema.org/Place"><span itemprop="address" itemscope
            itemtype="http://schema.org/PostalAddress">
            <meta itemprop="streetAddress" content="AU">
        </span></span>
    <meta itemprop="datePosted" content="Thu Oct 05 00:00:00 UTC 2023">
    <meta itemprop="validThrough" content="Thu Oct 19 13:00:00 UTC 2023">
    <meta itemprop="hiringOrganization" content="cityofsydnT1">
    <div class="jobDisplay">
        <div class="jobTitle">
            <h1 id="job-title" itemprop="title">RECYCLING PROGRAMS OFFICER</h1>
            <div class="applylink pull-right">
                <a xml:lang="en-GB" lang="en-GB" class="btn btn-primary btn-large btn-lg apply dialogApplyBtn "
                    href="/talentcommunity/apply/99490760/?locale=en_GB">Apply now »</a>
            </div>
        </div>
        <p xml:lang="en-GB" lang="en-GB" class="jobDate" id="job-date"><strong>Date: </strong>5 Oct 2023
        </p>
        <p id="job-location" xml:lang="en-GB" lang="en-GB" class="jobLocation ">
            <strong>Location:</strong>

            <span class="jobGeoLocation">AU
            </span>
        </p>

        <style type="text/css">
            #job-location.job-location-inline {
                display: inline;
            }
        </style>
        <p id="job-company" class="jobCompany" xml:lang="en-GB" lang="en-GB">
            <strong>Company: </strong>
            <span>cityofsydnT1</span>
        </p>
        <div class="job">
            <span itemprop="description" class="jobdescription">
                <p>N/A</p>
                <p>N/A</p>
                <p>N/A</p>
            </span>
            <p class="job-location">
                <span class="jobmarkets">
                </span>
            </p>
        </div>
        <div aria-hidden="true" tabindex="-1">
            <div class="applylink pull-right">
                <a xml:lang="en-GB" lang="en-GB" class="btn btn-primary btn-large btn-lg apply dialogApplyBtn "
                    href="/talentcommunity/apply/99490760/?locale=en_GB" tabindex="-1">Apply now »</a>
            </div>
        </div>
        <div class="clear clearfix"></div>
    </div>
</div>