<style type="text/css">
    .tcjoin38defc5d41720d5f input{
        border: 1px solid #444444;
    }
    .tcjoin38defc5d41720d5f input:focus{
        border: 1px dashed #0068B1 !important;
        outline: none !important;
    }
</style>
<div  class="tcjoin tcjoin38defc5d41720d5f rtltextaligneligible center unmodified backgroundimage backgroundcolor72228158 displayDTM ">
    <div class="inner">
        <div class="blank col-sm-1">
        </div>
        <div class="inner col-sm-4">
            <div class="join backgroundcolor72228158">
                        <h2 class="h1 fontcolorb6a533a1 fontalign-left" style="font-family:custom393fdd42e8d049c093e59; font-size:18px;">
                            Join Our Talent Community</h2>

                <div class="fontcolorb6a533a1" style="font-family:custom393fdd42e8d049c093e59; font-size:16px;">Stay connected by joining our network! Enter your e-mail and tell us a bit about yourself, and well keep you informed about upcoming events and opportunities that match your interests.
                </div>
                <form class="join-form form-control-100 fontcolorb6a533a1" action="https://career10preview.sapsf.com/career?site=&amp;company=cityofsydnT1&amp;lang=en%5FUS&amp;login_ns=register&amp;career_ns=home&amp;navBarLevel=MY_PROFILE" method="post" onsubmit="j2w.TC.handleJoinForm(event)">
                        <input name="ucc_email" class="join-email form-control" aria-label="Enter E-mail Address" placeholder="Enter E-mail Address" type="text" autocomplete="off" />
                    <input value="Sign Up Now" title="Sign Up Now" type="submit" class="join-submit btn" style="font-family:custom393fdd42e8d049c093e59; font-size:16px;" />
                </form>
            </div>
        </div>
        <div class="blank col-sm-7">
        </div>
    </div>
</div>