<div class="well well-small searchwell">
    <form class="form-inline jobAlertsSearchForm" name="keywordsearch" method="get" action="/search/" xml:lang="en-US"
        lang="en-US" style="margin: 0;" role="search">
        <input name="createNewAlert" type="hidden" value="false" />
        <div class="container-fluid">
            <div class="row columnizedSearchForm">
                <div class="column col-md-9">
                    <div class="fieldContainer row">
                        <div class="col-md-12 rd-keywordsearch">
                            <span class="lbl" aria-hidden="true">Search by Keyword</span>

                            <i class="keywordsearch-icon"></i>
                            <input type="text" class="keywordsearch-q columnized-search" name="q"
                                placeholder="Search by Keyword" maxlength="50" aria-label="Search by Keyword" />

                        </div>
                    </div>
                </div>
                <div class="rd-searchbutton col-md-2">
                    <div class="row emptylabelsearchspace labelrow">

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 search-submit">
                            <input type="submit" class="btn keywordsearch-button" value="Search Jobs" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>
<div class="clear"></div>
<h2 id="noresults" class="h3">No job categories currently exist.</h2>
<div class="clear"></div>