<section class="container py-32">

    <div class="row text-center">
        <h2 class="text-7xl font-[custom8203f65f688e4202a9faa] mb-5">Our benfits</h2>

    </div>
    <div class="row text-center flex">
        <div class="card-col col-lg-4 mb-5 lg:mb-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-droplet">
                    <path d="M12 2.69l5.66 5.66a8 8 0 1 1-11.31 0z"></path>
                </svg></div>
            <h2>Make a difference </h2>
            <p class="mb-0">We start by creating a set of brand guidelines and standards</p>
        </div>
        <div class="card-col col-lg-4 mb-5 lg:mb-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-code">
                    <polyline points="16 18 22 12 16 6"></polyline>
                    <polyline points="8 6 2 12 8 18"></polyline>
                </svg></div>
            <h2>Better together </h2>
            <p class="mb-0">Our award winning development team creates personalized digital experiences</p>
        </div>
        <div class="card-col col-lg-4 mb-5 lg:mb-0">
            <div class="icon-stack icon-stack-xl bg-gradient-primary-to-secondary text-white mb-4"><svg
                    xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="feather feather-truck">
                    <rect x="1" y="3" width="15" height="13"></rect>
                    <polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon>
                    <circle cx="5.5" cy="18.5" r="2.5"></circle>
                    <circle cx="18.5" cy="18.5" r="2.5"></circle>
                </svg></div>
            <h2>Embrace possibilities</h2>
            <p class="mb-0">Our products are created on time, and to your exact specifications</p>
        </div>
    </div>
</section>