<div id="footer">
    <div id="footerRowTop" class="footer footerRow" role="navigation">
        <div class="container ">

            <div id="footerInnerLinksSocial" class="row">
                <ul class="inner links">
                    <li><a href="/" title="Careers Home" aria-description="Opens in a new tab.">Careers Home</a></li>
                    <li><a href="/viewalljobs/" title="View All Jobs" aria-description="Opens in a new tab.">View All
                            Jobs</a>
                    </li>
                    <li><a href="/topjobs/" title="Top Jobs" aria-description="Opens in a new tab.">Top Jobs</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="footerRowBottom" class="footer footerRow" role="region" aria-label="Footer">
        <div class="container ">
            <p>All Comments © Copyright 2015 All Rights Reserved</p>
        </div>
    </div>
</div>