<div id="header" class="header headermain slightlylimitwidth " role="region" aria-label="Header">
      <h1 style="font-size: 0px; margin: 0px;"></h1>
      <div id="headerbordertop" class="headerbordertop slightlylimitwidth"></div>
      <script type="text/javascript">
        //<![CDATA[
        $(function () {
          /* Using 'skipLinkSafari' to include CSS styles specific to Safari. */
          if (navigator.userAgent.indexOf('Safari') != -1 && navigator.userAgent.indexOf('Chrome') == -1) {
            $("#skipLink").attr('class', 'skipLinkSafari');
          }
        });
        //]]>
      </script>
      <div id="skip">
        <div id="diversion" tabindex="-1"><span class="sr-only">Press Tab to Move to Skip to Content Link</span></div>
        <a href="#content" id="skipLink" class="skipLink" title="Skip to main content"><span>Skip to main
            content</span></a>
      </div>

      <div class="limitwidth">
        <div class="menu desktop upper">
          <div class="inner">
            <img class="logo" src="//rmkcdn.successfactors.com/55bd90de/1acafe47-1203-4de7-a52d-d.png" />
            <ul class="nav nav-pills">
              <li><a href="/viewalljobs/">Careers</a></li>
              <li><a href="/content/about/?locale=en_US" title="about">Life at the City</a></li>
              <li><a href="/content/diversity/?locale=en_US" title="diversity">diversity</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="menu mobile upper">
        <img class="logo" src="//rmkcdn.successfactors.com/55bd90de/1acafe47-1203-4de7-a52d-d.png" />
        <div class="nav">
          <div class="dropdown mobile-search">
            <a href="#" title="Search" aria-label="Search" class="dropdown-toggle" data-toggle="collapse"
              data-target=".search-collapse"><i class="mobilelink fa fa-search"></i></a>
            <div class="dropdown-menu search-collapse">

              <div class="well well-small searchwell">
                <form class="form-inline jobAlertsSearchForm" name="keywordsearch" method="get" action="/search/"
                  xml:lang="en-US" lang="en-US" style="margin: 0;" role="search">
                  <input name="createNewAlert" type="hidden" value="false" />
                  <div class="container-fluid">
                    <div class="row columnizedSearchForm">
                      <div class="column col-md-9">
                        <div class="fieldContainer row">
                          <div class="col-md-12 rd-keywordsearch">
                            <span class="lbl" aria-hidden="true">Search by Keyword</span>

                            <i class="keywordsearch-icon"></i>
                            <input type="text" class="keywordsearch-q columnized-search" name="q"
                              placeholder="Search by Keyword" maxlength="50" aria-label="Search by Keyword" />

                          </div>
                        </div>
                      </div>
                      <div class="rd-searchbutton col-md-2">
                        <div class="row emptylabelsearchspace labelrow">

                        </div>
                        <div class="row">
                          <div class="col-md-12 col-sm-12 col-xs-12 search-submit">
                            <input type="submit" class="btn keywordsearch-button" value="Search Jobs" />
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="dropdown mobile-nav">
            <a href="#" title="Menu" aria-label="Menu" class="dropdown-toggle" aria-controls="nav-collapse-design1"
              aria-expanded="false" role="button" data-toggle="collapse" data-target="#nav-collapse-design1"><i
                class="mobilelink fa fa-bars"></i></a>
            <ul id="nav-collapse-design1" class="dropdown-menu nav-collapse">
              <li><a href="/viewalljobs/">Careers</a></li>
              <li><a href="/content/about/?locale=en_US" title="about">Life at the City</a></li>
              <li><a href="/content/diversity/?locale=en_US" title="diversity">diversity</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lower headersubmenu">
        <div class="inner limitwidth">
          <div class="links" role="list">
            <div class="profile node" role="listitem">
              <div class="profileWidget">
                <a href="#" onclick="j2w.TC.handleViewProfileAction(event)" xml:lang="en-US" lang="en-US" style=" ">View
                  Profile</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>