<!-- Main jumbotron for a primary marketing message or call to action -->
<section class="hero w-full relative bg-[--blue] p-16 lg:py-24 overflow-hidden">
  <div class="container relative">
    <div class="row flex flex-wrap">
      <div class="col-md-6 flex flex-col text-white justify-center text-center lg:text-start">
        <h1 class="text-6xl lg:text-7xl font-[custom8203f65f688e4202a9faa] mb-10 !text-white">Create a better future</h1>
        <p>If you want to be part of something challenging and rewarding, joining us might be the right move for you.
        </p>
        <p class="pt-20"><a class="bg-white hover:bg-slate-300/90 text-[--blue] rounded-full p-4 px-8 font-[custom8203f65f688e4202a9faa]" href="#" role="button">Learn more</a></p>
      </div>
      <div class="col-md-6">
        <img src="" alt="">
      </div>
    </div>
  </div>
</section>