 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="hero">
      <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Create a better future</h1>
        <p>If you want to be part of something challenging and rewarding, joining us might be the right move for you.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <img src="" alt="">
        </div>
      </div>
        
      </div>
    </div>