<section class="bg-[--beige] py-32">
    <div class="container">
        <div class="row flex flex-wrap align-center">
            <div class="col-lg-6 mb-3">

                <div class="py-3 xl:py-7 px-2 md:px-3 lg:px-2">
                    <img src="https://www.cityofsydney.nsw.gov.au/-/jssmedia/corporate/images/general/careers/jpeg-4-3/cos_darling_square_lib-164.jpg?mw=700"
                        class="rounded w-full" alt="...">
                </div>

            </div>
            <div class="col-lg-6">
                <div class="lg:pl-4">
                    <p class="font-bold text-2xl text-green-600">Our values</p>
                    <h2 class="text-4xl md:text-6xl mb-10">Our values are crafted by our people. </h2>
                    <p class="mb-3">They guide our everyday behaviours and reflect us at our best.</p>
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            <ul class="list-style1 mb-0">
                                <li class="mb-3">Make a difference. We care about our community and strive to be our
                                    best every day.
                                </li>
                                <li class="mb-3">Better together. We do our best when we listen to the voices of others
                                    and work as a
                                    team. </li>
                                <li class="mb-3">Embrace possibilities. We encourage curiosity and are open to new
                                    ideas. </li>
                            </ul>
                        </div>

                    </div>
                    <a class="" href="#!">Discover More</a>
                </div>
            </div>
        </div>
    </div>
</section>