<section class="">

    <div class="overflow-hidden relative w-full bg-[--beige] lg:min-h-[552px]  lg:flex  items-center justify-center ">
        <div class="relative h-[324px] w-full block bg-[--beige] md:h-[432px] lg:h-full lg:top-0 lg:left-0 lg:w-[56%] lg:absolute">
            <img src="https://www.cityofsydney.nsw.gov.au/-/jssmedia/corporate/images/general/careers/jpeg-4-3/cos_darling_square_lib-164.jpg?mw=1200"
                class="max-w-full align-middle object-cover top-0 left-0 h-full w-full absolute"
                alt="Adults and children in a room in a library." />
        </div>
        <div class="w-full max-w-[1024px] min-w-[280px] mx-auto px-6 lg:px-12">
            <div class="m-2 md:m-3 lg:-m-4 h-full flex flex-wrap  pb-0">
                <div class="flex justify-center items-start flex-col ml-0 order-2 max-w-full p-2 w-full relative md:p-3 lg:p-4 lg:max-w-[41.6667%] lg:flex-grow-0 lg:flex-shrink-0 lg:basis-[41.6667%] lg:order-2 lg:ml-[58.333%] lg:min-h-[552px]">

                    <div class="left-0 w-[2048px] h-[171%] -translate-y-1/2 top-1/2 absolute">
                        <img alt="" class="max-w-full align-middle left-0 translate-x-[-11.5%] absolute rounded-full h-full w-auto bg-[--beige]"
                            src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=">
                    </div>
                    <div class="md:py-10 lg:py-20 z-10 ">


                        <h2 class="text-5xl md:text-6xl mb-5 font-[custom8203f65f688e4202a9faa] !text-[--body]">Our values are crafted
                            by
                            our people. </h2>
                        <p class="mb-10 !text-[--body]">They guide our everyday behaviours and reflect us at our best.</p>
                        <div class="row">
                            <div class="col-sm-12">
                                <ul class="list-style1 mb-0 font-[custom393fdd42e8d049c093e59] !text-[--body] !p-0 list-disc">
                                    <li class="mb-5">Make a difference. 
                                    </li>
                                    <li class="mb-5">Better together.</li>
                                    <li class="mb-16">Embrace possibilities. </li>
                                </ul>
                            </div>

                        </div>
                        <a class="bg-[--green] banner-button !text-white cursor-pointer appearance-none rounded-full p-4 px-8 font-[custom8203f65f688e4202a9faa] font-bold hover:text-white hover:bg-green-600 hover:no-underline"
                            href="#!">Learn more</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

</section>