<section class="bg-[--beige] py-32">
    <div class="container">
        <div class="row w-full flex flex-wrap align-center">
            <div class="col-lg-6 mb-3">

                <div class="py-3 xl:py-7 px-2 md:px-3 lg:px-2">
                    <img src="https://www.cityofsydney.nsw.gov.au/-/jssmedia/corporate/images/general/careers/jpeg-4-3/cos_darling_square_lib-164.jpg?mw=700"
                        class="rounded w-full" alt="Adults and children in a room in a library.">
                </div>

            </div>
            <div class="col-sm-12 col-lg-6">
                <div class="lg:pl-4">
                    <p class="font-bold text-3xl text-[--green] font-[custom8203f65f688e4202a9faa] mb-5">Our values</p>
                    <h2 class="text-5xl md:text-6xl mb-10 font-[custom8203f65f688e4202a9faa]">Our values are crafted by our people. </h2>
                    <p class="mb-10">They guide our everyday behaviours and reflect us at our best.</p>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="list-style1 mb-0 font-[custom393fdd42e8d049c093e59] !p-0 list-disc">
                                <li class="mb-10">Make a difference. We care about our community and strive to be our
                                    best every day.
                                </li>
                                <li class="mb-10">Better together. We do our best when we listen to the voices of others
                                    and work as a
                                    team. </li>
                                <li class="mb-10">Embrace possibilities. We encourage curiosity and are open to new
                                    ideas. </li>
                            </ul>
                        </div>

                    </div>
                    <a class="bg-[--green] text-white inline-block cursor-pointer appearance-none rounded-full text-2xl p-4 font-[custom8203f65f688e4202a9faa] font-bold leading-7 hover:text-white hover:bg-green-600 hover:no-underline"
                        href="#!">Learn more</a>
                </div>
            </div>
        </div>
    </div>
</section>