<div class="container p-16 lg:py-24">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h2 class="text-5xl md:text-6xl mb-5 font-[custom8203f65f688e4202a9faa] !text-[--body]">Join our mission to lead, govern
                and serve</h2>
            <p class="lead text-[--body]">
                We have developed a framework of capabilities for our people managers and employees that outline the behaviours, skills and knowledge expected at work.
            </p>
            <p>
                <a href="#!" class="">View available jobs</a>
            </p>
        </div>
    </div>
</div>