@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --body: rgb(4, 28, 44);
  --blue: rgb(8, 80, 161);
  --green: rgb(24, 136, 56);
  --beige: rgb(242, 236, 231);
}

a {
  @apply font-medium text-[#646cff];
}
a:hover {
  @apply text-[#535bf2];
}

html,
body {
  color: var(--body);
  @apply lg:text-2xl;
}

/* Overrides */
.slightlylimitwidth,
.limitwidth,
.headersubmenu,
.customPlugin > .inner {
  @apply !max-w-none;
}

.inner,
.limitwidth,
.breadcrumbtrail,
#category-name,
#category-header .headertext,
.category-groups-wrapper,
#noresults,
#actions,
#job-table,
.back-to-search-wrapper,
.jobDisplayShell,
#similar-jobs,
#ssoStack,
.pagination-top,
.pagination-bottom,
.searchResultsShell,
.keyword-title,
.container {
  @apply !max-w-none;
}

.breadcrumbtrail {
  @apply hidden;
}

.headersubmenu {
  @apply !px-[24px]
}

#caption {
  @apply sr-only;
}

#innershell {
  @apply max-w-full;
}

#headerbordertop,
#skip {
  @apply hidden;
}
#header {
  .inner {
    @apply px-0;
  }
}
#category-name {
  @apply sr-only;
}
.hidden-phone {
  @apply !mb-0;
}
/* Logo & menu */
.logo {
  width: 250px;
  align-self: center;
}

.menu.desktop {
  @apply p-[24px] float-none;
}
.menu.desktop.upper .inner {
  @apply flex max-w-none gap-10;

  .nav-pills {
    @apply float-none ml-auto mt-0;
  }
}

#actions {
  @apply bg-slate-200 px-[24px];
  #frequencySpinBtn {
    @apply !w-auto p-0 !h-auto
  }
}

/* Content */

#category-header {
  @apply !mb-0;
}
#content {
  @apply !pt-0;
}


/* Wells */

.pagination-well {
  @apply !mt-0 min-h-min p-0;
}

.searchwell {
  @apply p-0 !mb-0 !bg-[--blue];
  .container-fluid {
    @apply !p-[24px]
  }
  .column {
    @apply p-0;
  }
  .columnizedSearchForm {
    @apply m-0 flex;
    .col-md-2, .col-md-9 {
      @apply w-1/2;
    }
    .optionsLink {
      @apply mb-0
    }
  }
}

#search-wrapper {
  @apply !mb-0;
}
#savesearch-wrapper {
  @apply mb-0 p-0;
  .well {
    @apply px-0
  }
}

.keywordsearch-q {
  @apply bg-white !w-full
}

/* Table */

#job-table {
  @apply !mb-0 !container;
}
#searchresults {
  @apply mb-0;
}
#search-results-header th {
  @apply !w-auto
}

/* Footer */
#footer {
  @apply !mb-0 !container mx-auto;
  p {
    @apply clear-none mt-0 pl-0 leading-snug;
  }
  .social-links {
    @apply hidden;
  }
  .links {
    @apply !float-none w-fit;
  }
}

#footerRowBottom {
 @apply text-center
}
