/* @tailwind base; */
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --blue:  rgb(8, 80, 161) ;
  --green: green

}


.logo {
  width: 250px;
  align-self: center;
}


.slightlylimitwidth,
.limitwidth,
#innershell,
.customPlugin>.inner {
  max-width: none;
}


.row-fluid,
.row {
  margin-right: -15px;
  margin-left: -15px;
}

#headerbordertop {
  height: initial;
}

.card-col {
  margin: 2rem;
  border: 3px solid rgb(140, 224, 170);
  border-radius: 8px;
  padding: 2rem;
} 
